* {
   font-family: Arial, Helvetica, sans-serif;
   color: rgb(64, 64, 64);
}

.title {
   position: fixed;
   top: 0;
   z-index: 2;
   background-color: white;
   text-align: center;
   width: 100%;
   margin: auto;
   box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.256);
}

body {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

main::before {
   content: "";
   position: absolute;
   width: 100%;
   height: 2px;
   background-color: rgb(209, 209, 209);
}

article {
   width: 500px;
   margin: 0 auto;
   margin-top: 150px;
   display: flex;
   justify-content: space-around;
}
article section {
   background-color: gainsboro;
   padding: 16px;
   height: 200px;
   overflow: auto;
}

footer {
   width: 800px;
   margin: auto;
   padding: 16px;
   text-align: center;
}

.card {
   background-color: rgb(255, 255, 255);
   width: 200px;
   padding: 16px;
   border-radius: 8px;
   box-shadow: 5px 6px 8px rgba(56, 56, 56, 0.468);
   margin: 2px;
   border: 3px solid rgb(222, 203, 127);
}
.card header img {
   border-radius: 8px;
}

.card > h3 {
   text-align: center;
}

.section-1 {
   margin-top: 0;
}
.section-2 {
   margin: 1 rem 0;
}

main::after {
   content: "";
   position: absolute;
   width: 100%;
   height: 2px;
   background-color: rgb(209, 209, 209);
}

.button {
   padding: 8px 16px;
   border: none;
   font-weight: 700;
   border-radius: 4px;
}
.button:hover {
   background-color: rgb(229, 165, 82);
   box-shadow: 3px 3px 4px rgba(130, 130, 130, 0.589);
}
.button a {
   text-decoration: none;
}
